# Default ignored files
/../../Reinforcement-Learning-for-Course-Specific-Pacing-Strategies-in-Running /.idea/shelf/
/../../Reinforcement-Learning-for-Course-Specific-Pacing-Strategies-in-Running /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Reinforcement-Learning-for-Course-Specific-Pacing-Strategies-in-Running /.idea/httpRequests/
# Datasource local storage ignored files
/../../Reinforcement-Learning-for-Course-Specific-Pacing-Strategies-in-Running /.idea/dataSources/
/../../Reinforcement-Learning-for-Course-Specific-Pacing-Strategies-in-Running /.idea/dataSources.local.xml
